.infosTable {
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    border-bottom: 1px solid #000;

    .infos {
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
    }
  }

  .tags__div {
    display: flex;
    flex-wrap: wrap;
  }

  & > p {
    margin: 1rem auto;
    font-size: 1.2rem;
    color: #FFA229;
    text-transform: uppercase;
  }
}

.infosColumns {
  margin-bottom: 2rem;

  &__header {
    padding: 1rem 0;
    justify-items: left;
    border-bottom: .5px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    column-gap: .5rem;
    
    span {
      opacity: 1;
      font-weight: 700;
    }
  }

  &__container {
    padding: 1rem 0;
    color: #000;
    justify-items: left;
    column-gap: 1rem;

    .name {
      color: #FFA229;
      font-size: 1rem;
      text-align: left;
    }

    span {
      color: #FFA229;
    }

    &:hover {
      background-color: #FFA229;
      color: black;
      font-size: 1.1rem;

      span {
        background-color: #FFA229;
        color: #000;
        
        span {
          font-size: 1.1rem;
        }
      }

      .name {
        color: #fff;
        font-weight: 500;
        font-size: 1.5rem;
        padding: 0 .5rem;
      }
    }
  }
  
  &__container, &__header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
}

.section__title {
  opacity: .5;
}