* {
  letter-spacing: .1rem;
}

.infosTable {
  &__container {
    display: flex;
    color: white;
    justify-content: space-between;
    text-align: center;
    font-size: .9rem;
    margin: 1rem 4.5rem;
    padding: 0 2rem 3rem 2rem;
    border-bottom: .5px solid rgba(255, 255, 255, 0.7);
  }
  
  div {
    padding: 1rem;
    text-align: center;
  }

  span {
    letter-spacing: .2rem;
    opacity: .5;
  }

  .tags__div {
    display: flex;
    flex-wrap: wrap;
  }

  & > p {
    margin: 1rem auto;
    font-size: 1.2rem;
    color: #FFA229;
  }

  //  ---- Old cards divisors -----
  //  
  // div:not(:last-child) {
  //   border-right: 1px solid white;
  //   padding-right: 1.5rem;
  // }

  // div:not(:first-child) {
  //   padding-left: 1.5rem;
  // }
  // 
  // ------------------------------
}

.section__title {
  margin-left: 5.5rem;
  opacity: .3;
  letter-spacing: .2rem;
}

.infosColumns {
  margin-bottom: 2rem;

  &__header {
    padding: 2rem;
    justify-items: center;
    border-bottom: .5px solid rgba(255, 255, 255, 0.1);
    margin: 0 3rem;
    font-size: 1.2rem;
    
    span {
      color: white;
      opacity: .6;
    }
  }

  &__container {
    padding: .5rem 2rem;
    color: white;
    justify-items: center;

    .name {
      color: #FFA229;
      letter-spacing: .2rem;
    }

    p {
      padding: 1rem;
    }

    span {
      opacity: 1;

      span {
        color: #FFA229;
      }
    }

    &:hover {
      background-color: #FFA229;
      color: black;
      font-size: 1.8rem;

      span {
        color: black;
        span {
          color: white;
          font-size: 1.3rem;
        }
      }

      .name {
        color: white;
        font-size: 2rem;
      }
    }
  }
  
  &__container, &__header {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 1.5rem;
  }
}