.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 50px;
}

.container input {
	padding: 15px 30px;
	margin-bottom: 15px;
	border: 1px solid black;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	color: black;

	p {
		font-weight: 700;
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
}

input {
	border: none;
	margin-top: 2px;
}

span {
	text-align: left;
	opacity: .7;
}