.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
}

.container input {
	padding: 15px 20px;
	margin-bottom: 15px;
	border: 1px solid black;
	display: block;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 70%;
	color: black;
	padding: 20px;
	align-items: stretch;

	p {
		font-weight: 700;
		font-size: 1.2rem;
		margin-bottom: 20px;
	}
}

input {
	border-radius: 10px;
	margin-top: 2px;
}

span {
	text-align: left;
	opacity: .7;
}

.primary {
	background: url('./../../assets/images/gradient.png');
	background-size: 20rem;
	opacity: .9;
	margin-left: 1rem;
	color: #000;
	border: none;
}

.exit__button {
	align-self: flex-end;
}