.schema {
  &__container {
    margin: 1rem 0;
    width: inherit;
    
    div > canvas {
      height: 450px;
      background: #fff;
      border-radius: 1rem;
    }

    .canvas__wrapper {
      border-radius: 1rem;
      box-shadow: 1px 4px 4px #888888
    }
  }
}