.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  justify-content: space-between;

  .exit__button {
    align-self: flex-end;
    cursor: pointer;

    &:hover {
      color: #FF5C40;
    }
  }

  .title {
    border-bottom: 1px solid #000;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1rem;
    align-items: baseline;

    .about {
      margin-bottom: 1rem;
    }

    p:not(.title) {
      margin-bottom: 1rem;
    }

    span:not(.exit__button) {
      margin: 1rem 0;
      opacity: 1;
    }
  }
}

.empty {
  margin: 50px 0 50px 0;
}
