@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

.header {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	font-family: 'Bebas Neue';
}

.nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding: 1rem;
	margin: auto 3.5rem;

	div > p {
		font-size: 32px;
		margin-top: .2rem;
		color: #FFA229;
	}

	div > span {
		opacity: .3;
		letter-spacing: .2rem;
	}
}

.back__button {
	margin: 0;
}