.header {
	color: #000;
	padding-top: 1rem;
}

.container {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #000;
	padding-bottom: 1rem;

	.database {
		padding-left: 1rem;
	}

	div > p {
		font-size: 2rem;
		margin-top: .2rem;
		color: #FFA229;
		text-transform: uppercase;
	}

	div > span {
		opacity: 1;
		letter-spacing: .2rem;
	}
}

.back__button {
	margin: 0;
}