.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1024px;
	margin: 0 auto;
}

.modal_container {
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.home_header {
	&__container {
		display: flex;
		justify-content: space-between;
		margin-top: 1rem;

		.primary {
			background: url('./../../assets/images/gradient.png');
			background-size: 15rem;
			opacity: .9;
			margin-left: 1rem;
			color: #000;
			border: none;
		}

		.exit__button {
			border: none;
			text-decoration: underline;
		}

		div {
			display: flex;
		}
	}
}