@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
	font-family: 'Bebas Neue', cursive;
	color: white;
}

.wrapper {
	display: flex;
	flex-direction: column;
	height: 80vh;
}

.modal_container {
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.general_header {
	&__container {
		display: flex;
		margin: 1rem 2rem;

		.name {
			margin-left: 1rem;
			color: #FFA229;
			font-style: italic;
			opacity: .3;
		}
	}
}

button {
	margin-bottom: 3rem;
}