@import url('https://fonts.googleapis.com/css2?family=Nobile&display=swap');

// Reset style
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nobile', Arial, Helvetica, sans-serif;
}
//

body{
  background-color: #000;
}

button {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	margin: 0 auto;
	border: 1px solid #fff;
	border-radius: .2rem;
	cursor: pointer;

	&:hover {
		background-color: #fff;
		color: #000;
	}
}

