@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
	font-size: 1rem;
}

body{
  background-color: #000;
}

button {
	background-color: #000;
	color: #fff;
	padding: 1rem;
	margin: 0 auto;
	border: 1px solid #EAA954;
	border-radius: .2rem;
	cursor: pointer;
	opacity: .5;

	&:hover {
		background-color: #EAA954;
		border-color: #EAA954;
		color: #fff;
		opacity: 1;
	}
}

.modalCustomStyle{
	display: flex;
	justify-content: center;
	position: absolute;
	inset: 40px;
	background: #000;
	overflow: auto;
	border-radius: 10px;
	outline: none;
	padding: 20px;
	min-width: 450px;
	width: 25%;
	height: 70%;
	min-height: 620px;
	margin: 0px auto;
	color: white;
	z-index: 99;

	button {
		margin: .5rem 0;
		border-color: none;
	}
}

.ReactModal__Overlay--after-open {
	background-color: #000000de !important;
}

